body{
  margin: 0; padding: 0; position: relative; display: block;
}
a{ color: rgb(69,54,83);  }
a:hover{ color: rgb(110, 90, 128); }
.home{  font-family: poppins; font-weight: 30; font-size: 13px; line-height: 30px;}
.page-auth{
  background: url('/images/auth.jpg') no-repeat; background-size: cover; position: absolute; z-index: 9999999999;
  top: 0; height: 100vh; width: 100%;
}
.page-auth .overlay{
  background: rgba(69,54,83,0.92); position: absolute; width: 100%; height: 100%;
}
.clearfix{clear:both}
.auth{  background: #fff; position: relative; margin: 30% auto; }
.auth .auth-header{ background: rgba(69,54,83,1); display:block; padding: 20px; text-align: center; color: #fff; }
.auth .body {  padding: 30px; }

.navbar-admuse { background: rgba(69,54,83,0.95); box-shadow:none; padding: 10px 0; position: relative; z-index: 9; }
.navbar-admuse .navbar-brand{ color:#fff; font-weight: bold; font-size: 24px;margin-top: 0px; }
.navbar-admuse .navbar-nav > li a.nav-link{ color: #fff !important; padding: 10px 25px; font-size: 12px !important; font-weight: 600; text-transform: uppercase; }
.navbar-admuse .navbar-nav > li a.active{ border-bottom:1px solid rgba(255, 255, 255, 0.4); color:#fff !important; }
.navbar-admuse .navbar-nav .dropdown-menu{ position: absolute !important; z-index:99 !important; }
.navbar-admuse .navbar-nav .dropdown-menu .nav-item .nav-link{ color: rgba(69,54,83,0.95) !important; }
.navbar-admuse .navbar-nav .dropdown-menu .nav-item .nav-link.active{ color: rgba(69,54,83,0.95) !important; }

.book-slot{
  background: url('/images/stock/hero-image.jpg') no-repeat center; background-size: cover; color:#fff;
  min-height: 500px; position: relative;
}


.book-slot::before{
  background: rgba(0,0,0,0.6); width:100%; height: 100%; top:0; left:0; content: " "; position: absolute; z-index: 1;
}
.book-slot-content{position: relative; z-index: 4;}
.mt-100{margin-top:90px;}
.text-center{ text-align: center; }
.search-form{ margin:0; padding: 0; }
.search-form .form-control{
  background: white; border: 1px solid rgba(255, 255, 255, 0.4); min-height: 40px; padding: 5px 10px; 
  border-radius: 3px; margin: 25px 0px !important; color: #666 !important;
}

.stats-div{ width: 100%; margin: 0px auto; margin-top: 35px; color: #666; }
.stats-div .stat-item{float: left; width: 43.555%; margin: 0px; text-align: center; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;
padding: 20px 10px }
.stats-div .stat-item h3{font-size: 40px; color: #441142; font-weight: bold; }
.stats-div .stat-item span{ font-size: 16px; }
.stats-div .stat-item:nth-child(4){  border:none; }
.stats-div .stat-item:nth-child(2){ border-right:none; }
.stats-div .stat-item:nth-child(3){ border-bottom:none; }


.page-title{
  font-size: 34px; color:#656; line-height: 70px;
}
.l-title{  font-weight: normal; }

.form-control{  min-height: 40px; padding: 10px 10px; padding-top: 6px; border-radius: 0; box-shadow: none; border-color:#ddd; border-radius:5px; }
select.form-control{
  appearance:none; background: url('/images/select-icon-sm.png') 97% 50% no-repeat;
}
.form-group{
  margin-bottom: 5px;
}
.btn-white{ background: #fff; color: #340034; padding: 2px 5px; box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.5); }
.abtn-round{ padding: 10px 20px;  min-height: 50px;background: rgba(69,54,83,1) !important;border-radius: 30px;font-size: 16px !important;}
.abtn-round:hover{color: #fff;}
.card{border-radius: 5px ; box-shadow: none; text-align: center; }
.card .card-media{border-radius: 5px 5px 0px 0px ; position: relative; min-height: 200px; }
.card .card-media img{border-radius: 5px 5px 0px 0px ; }
.card a{color: #555 ;}
.card-body{ padding: 5%; text-align: left;}

.card .date{  color: #5b6a77; margin: 10px; }
.card .read{  color: #5b6a77; margin: 10px; font-size: 14px; }
.card .title{ color: #5b6a77; font-size: 20px; margin: 10px;}

.icon-card{width: 100%; background: url('/images/stock/tv.jpg') no-repeat center; background-size: 100%; margin: 15px auto; 
min-height: 170px; display: block; padding: 20px; text-align: center; border-radius: 6px; position: relative;}
.icon-card::before{background: rgba(0,0,0,0.6); width:100%; height: 100%; z-index: 2; top:0; left:0; content: " "; position: absolute;
  border-radius: 6px;
}
.icon-card-link:hover{ color: #ddd; border-radius: 6px; text-decoration: none;}

.icon-card .card-title{position: relative; z-index: 4; color: #fff; letter-spacing: 1px; font-size: 20px; line-height: 100px;}

.deal-card h5{  font-size: 12px; font-weight: bold; padding: 0; margin: 0; }
.deal-card .card-footer{  padding: 15px 10px; text-align: left; background: #fff; color: orange; border-radius:0px 0px 5px 5px ; 
  border: 1px solid #eee; font-size: 13px;
}
.deal-card .card-media::before{background: rgba(0,0,0,0.3); width:100%; height: 100%; z-index: 2; top:0; left:0; content: " "; position: absolute;
  border-radius: 6px;
}
.deal-card .card-media .content{position: relative; z-index: 4; padding: 15px; text-align: left;}
.deal-card h3{
  color: #fff; font-size: 22px; margin:10px;
}
.deal-card .reach, .deal-card .price{
  color: #fff; font-size: 14px; margin: 0; padding: 3px;
}
.abtn{
  background: #340034 ; color: #ffffff !important; margin:0px; padding:2px ;
  font-size: 10px ; font-weight: bold ;
}
.abtn span{ color: #fff !important; }
.abtn-2{ font-size: 14px; padding: 10px; margin: 5px; }

.btn-cart{
  display: inline ; padding: 10px 11px ; border-radius: 50% ; position: absolute; right: -18px; top: 135px;
}
.abtn:hover{
  background: #441142 ;
}





.section-title{
  font-size: 28px; line-height: 80px;position: relative;margin-left: 35px;
}
.section-title::before {
  width: 10px; height: 15px; background: #fff; border: 6px solid #340034; content: " ";
  border-radius: 100px; padding: 5px 5px; position: absolute; left: -32px; top: 31px;
}
.footer{
  background: rgb(69,54,83);
  /*min-height: 300px;*/
  color: #fff; padding: 4% 0;
}
.footer a{color:#fff;}
.footer-2{
  background: rgba(69,54,83, 0.95);
  min-height: 100px;
  color: #fff; padding: 2% 0;
}
.errnotice{
  position: absolute; padding: 3px; z-index:999;
}
.dataTable{
  font-weight: normal; font-size: 12px;
}

.dataTable th{
  font-size: 11px;
}
div[data-test="datatable-input"]{
  float: right;
}
div[data-test="datatable-input"] .form-control{
  min-height: 30px;
}

.dataTable tbody + thead{
  display: none;
}

/* dashboard */
.firstcolumn{width: 17%;}
.secondcolumn{width: 83%;}

.sidebar{
  background: rgba(69,54,83,0.95); min-height:100vh; height: 100%; margin:0; padding: 10px;
}
.sidebar ul{
  margin:0; padding:0; position: relative; display: block; width: 100%;
}
.sidebar ul li{
  display: block; clear: both;
}
.sidebar ul li a.nav-link{
  display: block; padding: 12px 10px; color:#fff !important;
}
.sidebar ul li a.nav-link:hover{
  background: rgba(255, 255, 255, 0.1); border-radius: 3px;
}
.sidebar ul li ul{background: rgba(255, 255, 255, 0.1); display: none; transition: all .2s;}
.sidebar ul li ul.active{ display: block;}
.main{ background: #f6f6f6; padding-top: 20px; }
.white-bg{ background: #fff; padding: 10px; border-radius: 5px; margin: 15px; box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.2); }
.multi-select button{ width: 100%;border:1px solid #ddd; min-height: 40px; box-shadow: none; border-radius: 5px; }
.multi-select button span{ box-shadow: none !important; }
.multi-select button + div{width: 100%; color: rgb(69,54,83); text-align: left; background: #fff;position: absolute; z-index:999999 !important; }
.details-table{  font-size: 13px; }
.details-table tr td{ padding: 6.5px; }
.details-table h5{font-weight: bold;}
.details-table p{ margin: 0; padding: 0; font-weight: bold; }
.media-house-stat{ background: #ddd; padding: 10px; border-radius: 6px; }
.media-house-stat .item{
  background: #fff; border:1px solid #ccc; box-shadow: 1px 1px 15px rgba(200,200,200,0.9);
  min-height: 150px; padding: 15px; border-radius: 10px; text-align: center; margin: 20px 5px;
}
.media-house-stat .item h4{ font-size: 15px; font-weight: normal; margin: 20px 5px; }
.media-house-stat a{ color: rgb(69,54,83) }


.dataTable_scrollBody{ margin-top: -18px; }
.acc-button{ background: #fff; padding: 5px; border:1px solid #ddd; border-radius: 5px;}
.acc-button.active{ border:3px solid rgba(69,54,83,0.92); box-shadow: none; }
.acc-button:focus{box-shadow: none;}
.text-align-center{ text-align: center; }

.box{ border: 1px solid #ddd; padding: 20px 10px; border-radius: 4px; color: #777; width:90%; margin: 20px auto;}
.box img{ margin: 15px 4px; }
.box h4{ margin: 15px 4px; font-weight: normal; }
.box p{margin: 15px 4px; font-size: 13px; line-height: 28px;}

.gray{
  background: #f0f0f0; padding: 4% 0; margin: 0; margin-top: 20px; color: #677; font-size: 13px; min-height: 200px;
}


/*  Responsive */

.sidebar-toggler{
  background: rgba(69,54,83,0.92); border:none; padding: 5px 8px; padding-left: 20px; color:#fff; position: absolute; left:0; z-index:999; display: none;
}
@media(max-width: 640px) {
  .hide-xs{ display: none; }
  .stats-div{ padding: 10px 5px;box-shadow: 2px 3px 8px rgba(100, 100, 100, 0.5); }
  .stats-div .stat-item{width: 23%; margin: 3px; padding: 0;}
  .stats-div .stat-item h3{font-size: 18px; padding: 0; margin: 3px;}
  .stats-div .stat-item span{ font-size: 10px; }
  .col-xs-4{ width: 45.3%; margin:15px 0;}
  .sidebar {
    padding-top: 40px;
  }
  .firstcolumn{
    width: 70%; position: absolute; z-index: 99;
  }
  .secondcolumn{width: 100%;}
  .sidebar-toggler{
    display: block;
  }
}




/*
New Stylesheet
*/


.bg-home {
  background: url('/images/stock/hero-image.jpg') center center; background-size: cover; color:#fff;
  min-height: 500px; position: relative;
}

.stat-image{
    background: url('/images/stock/happy-cust.jpg') center center; background-size: cover; color:#fff;

}